<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Group</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">
<!--<header th:insert="layout/layouts.html :: header "></header>-->
<br>
<div class="container-fluid text-center">
  <!-- сообщение -->
<!--  <div th:if="${message != null}" class="alert alert-success">-->
<!--    [[${message}]]-->
<!--  </div>-->
  <table class="table table-bordered">
    <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>Группа</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="group: ${listGroups}">
      <tr>
        <td>[[${group.id}]]</td>
        <td>[[${group.groupName}]]</td>
        <td>
          <a th:href="@{'/groups/edit/' + ${group.id}}" class="btn btn-secondary">Edit</a>
          <a th:href="@{'/groups/delete/' + ${group.id}}" class="btn btn-danger">Delete</a>
          <a th:href="@{'/groups/details/' + ${group.id}}" class="btn btn-warning">Details</a>
        </td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <!-- ссылка на добавление нового студента -->
  <a th:href="@{/groups/newGroup}"> Add new Group </a>
</div>
<!--<div>-->
<!--  <footer th:insert="layout/layouts.html :: footer "></footer>-->
<!--</div>-->
</body>
</html>
