<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .btn {
        height: 35px;
        margin: 2px;
        /*padding: 4px;*/
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Group</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbar-example">
<nav th:insert="/layout/layouts.html :: navs"></nav>
<!--<header th:insert="layout/layouts.html :: header "></header>-->
<br>
<div class="container-fluid text-center">
    <!-- сообщение -->
    <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
    </div>
    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Группа</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="group: ${listGroups}">
            <tr>
                <td>[[${group.id}]]</td>
                <td>[[${group.groupName}]]</td>
                <td>
                    <!-- детали-->
                    <a th:href="@{'/groups/details/' + ${group.id}}" class="btn btn-info btn-xs">DETAILS</a>
                    <!-- обновить-->
                    <a th:href="@{'/groups/update/' + ${group.id}}" class="btn btn-primary btn-xs">UPDATE</a>
                    <!-- удалить-->
                    <a th:href="@{'/groups/delete/' + ${group.id}}">
                       <button
                       class="btn btn-danger btn-xs"
                       data-toggle="modal"
                       data-target="exampleModal"
                       >DELETE</button></a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <!-- ссылка на добавление новой группы -->

    <a th:href="@{/groups/newGroup}" class="btn btn-primary btn-xs"> Add new Group </a>
    <a th:href="@{/students}" class="btn btn-warning btn-xs"> Back to Students List </a>
    <form th:action="@{/logout}" method="post" class="btn btn-danger btn-xs"> Sign out</form>
</div>

<div>
    <footer th:insert="layout/layouts.html :: footer"></footer>
</div>
</body>
</html>
