<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .btn {
        height: 35px;
        margin: 2px;
        /*padding: 4px;*/
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>All Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">

    <!-- сообщение -->
    <!-- если выражение в скобках {} верное, то елемент рендерится -->
    <div th:if="${message != null}" class="alert alert-success">
        [[${message}]]
    </div>

    <table class="table table-bordered">
        <!--шапка таблицы-->
        <thead class="table-dark">
        <tr>

            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Group</td>

            <th>Аctions</th>
        </tr>
        </thead>
        <tbody>
        <nav th:insert="/layout/layouts.html :: navs"></nav>
        <!--цикл-->
        <th:block th:each="student: ${studentsList}">
            <tr>
                <td>[[${student.id}]]</td>
                <td>[[${student.firstName}]]</td>
                <td>[[${student.lastName}]]</td>
                <td th:if="${student.group != null}">[[${student.group.groupName}]]</td>
                <td th:if="${student.group == null}">NONE</td>
                <td>
                                        <!--кнопка деталей-->
                    <a th:href="@{'/students/details/' + ${student.id}}" class="btn btn-info btn-xs">DETAILS</a>

                    <!--кнопка обновления-->
                    <a th:href="@{'/students/update/' + ${student.id}}" class="btn btn-primary btn-xs">UPDATE</a>

                    <!--кнопка удаления-->
                    <a th:href="@{'/students/delete/' + ${student.id}}" class="btn btn-danger btn-xs">DELETE</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <!-- ссылка на добавление нового студента -->
    <a th:href="@{/students/new}" class="btn btn-secondary btn-xs"> Add new Student </a>
    <br>
    <a th:href="@{/groups}" class="btn btn-secondary btn-xs"> Show Groups List </a>
    <br>
    <form th:action="@{/logout}" method="post"> <button class="btn btn-danger">Sign out</button> </form>

</div>
<div>
    <footer th:insert="layout/layouts.html :: footer"></footer>
</div>
</body>
</html>
